@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 0.5px solid gray; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[data-scope="dialog"][data-part="content"][data-state="open"] {
  animation: fadeIn 300ms ease-out;
}

[data-scope="dialog"][data-part="content"][data-state="closed"] {
  animation: fadeOut 300ms ease-in;
}
